/*! ==UserStyle==
@name         Dark-WhatsApp Custom
@description  Custom-compiled version of Dark-WhatsApp.
@namespace    github.com/vednoc/dark-whatsapp
@homepageURL  https://github.com/vednoc/dark-whatsapp
@supportURL   https://github.com/vednoc/dark-whatsapp/issues
@author       vednoc <vednoc@pm.me> (https://github.com/vednoc)
@version      3.0.0-rc.6
@license      MIT
==/UserStyle== */


// Base color-scheme toggle.
/// Options: 'custom', 'old', 'new'
theme = 'custom'

// Base Background/Foreground/Accent colors for 'custom' theme option.
next_bg = #1f232a
next_fg = #eeeeee
next_ac = #7289da

// Adjust generated tones for Background/Foreground/Accent colors.
/// Options: bg range from -25 to 25, step by 0.1, 0% default value
///          fg range from -25 to 25, step by 0.1, 0% default value
///          ac range from   0 to 25, step by   1, 0% default value
next_bg_a = 0%
next_fg_a = 0%
next_ac_a = 0%

BG = next_bg
FG = next_fg
AC = next_ac
